<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nice3point.Revit.Api.AdWindows" version="2022.1.80" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPI" version="2022.1.80" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPIUI" version="2022.1.80" targetFramework="net48" />
</packages>